{% extends 'layout/frontOffice.html.twig' %}

{% block title %}
	title
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row pb-5 row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col-md-6"><img style="width:-webkit-fill-available;height:400px;" src="/images/{{ menu.image }}"></div>
			<div class="col-md-6">TT</div>
		</div>

		<div class="card card-primary">
			<div class="card-header">
				<h4 class="card-title">Gallery</h4>
			</div>
			<div class="card-body">
				<div class="row">

					{% for image in images %}
						<div class="col-sm-2">
							<a href="/images/{{ image }}" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
								<img src="/images/{{ image }}" class="img-fluid mb-2" alt="white sample">
							</a>
						</div>

					{% endfor %}
				</div>
			</div>
		</div>

		<div class="pt-4" style="margin:auto;width:60%;">{{ component('Testimony') }}</div>
	</div>
{% endblock %}
