{% extends 'layout/app.html.twig' %}

{% block title %}New Gallery
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row pt-5">
			<div class="col-md-6 m-auto">
				<div class="card card-primary">
					{% if error is defined %}
						<div class="alert alert-danger">
							{{ error.message }}
						</div>
					{% endif %}

					<div class="card-header card-header-primary">
						<h1 class="card-title"><a class="p-4" href="{{ path('app_gallery_index') }}"> {{ "<" }} </a> Create new Gallery</h1>
					</div>

					{{ include('gallery/_form.html.twig') }}

				</div>
			</div>
		</div>
	{% endblock %}
